.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    background-color: #ffffff;
    color: white;
    flex: 0 0 auto;
    gap: 500px;
}

.logo {
    display: flex;
    align-items: center;
    color: black;
}

.companyName {
    /*margin-left: 8px;*/
    font-weight: bold;
    color: black;
}

.authButton button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.authButton .logoutBtn {
    background-color: #FF4136;
}

.authButton button:hover {
    opacity: 0.9;
}
