@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #bdd9cd;
  --foreground: #051827;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/*
#bdd9cd  light green
#8eaebb  light blue
#386994   blue
#214457   dark blue
#051827   navy blue
*/



body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

h1 {
  font-size: 25px;
  font-weight: 20px;
}


