.journalContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    border: 3px solid #eae4e9;
    background: #bee1e6;
    margin: 10px auto;
    margin-bottom: 15px;
    width: 90%;
}

.entryWrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem; 
    width: 100%;
    margin: 10px;
    max-height: 100%;
}

.formContainer {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.moodWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
}
.moodWrapper h1{
    margin: 0 auto;
}

.moodGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    margin: 0 auto;
}
.mood {
    width: 95%; 
    height: 95%; 
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s;
}

.mood:hover {
    transform: scale(1.1);
}

.selectedMood {
    border: 3px solid rgb(150, 201, 159);
}

.journalInput, .promptInput {
    flex-grow: 1;
    width: 100%; 
    height: 100%; 
    border-radius: 8px;
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    resize: none;
}
.textareaWrapper {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allows wrapper to grow */
    height: 100%; /* Matches the height of its parent */
}

.journalButton.enabled {
    margin-top: 1rem;
    margin: auto;
    width: 250px;
    background-color: #3498db; 
    color: white; 
    font-size: 16px;
    padding: 10px 20px; 
    border: 2px solid transparent; 
    border-radius: 8px; 
    cursor: pointer; 
    text-transform: uppercase; 
    font-weight: bold; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.journalButton.disabled {
    margin-top: 1rem;
    margin: auto;
    width: 250px;
    background-color: #3498db;
    opacity: 0.5;
    color: white; 
    font-size: 16px;
    padding: 10px 20px; 
    border: 2px solid transparent; 
    border-radius: 8px; 
    cursor: default; 
    text-transform: uppercase; 
    font-weight: bold; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.journalButton.enabled:hover {
    background-color: #2a78b4; 
    transform: scale(1.05); 
    border-color: #1f5a8e; 
}

.formContainer > form 
{
    height: 45%;
}
