.timeSlot {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}

.time {
  width: 50px;
  font-size: 0.9em;
  color: #666;
}

.taskWithDelete {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  padding: 0 10px;
}