.task {
  display: flex;
  align-items: center;
  gap: 15px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap; 
  max-width:200px;
}
  
.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #888;
}
  